html {
    font-family: 'Montserrat', sans-serif;
}

a {
    color:#005a9c;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

body {
    background:url(../images/background.jpg);
    background-size: contain;
    font-weight: 400;
    font-size:14px;
    text-align: justify;
}
div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.holder {
    display: table-cell;
    vertical-align:middle;
}

div.box {
    background:rgba(255,255,255,0.97);
    max-width:650px;
    vertical-align:middle;
    margin:40px auto 0px auto;
    box-sizing:border-box;
    padding:30px 50px;
    color:#03214b;
}

div.logo {
    padding-bottom: 30px;
    margin-bottom: 0px;
    padding-top: 0px;
    float: none;
}

footer {
    width: 100%;
    padding: 5px 30px;
    text-align: center;
    box-sizing: border-box;
    height: 70px;
    position: relative;
    color: #ffffff;
}

div.address {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #b0b0b0;
}